h1{
    color:rgb(124, 165, 107)
}
h2{
    margin: 2px;
}
body{
    display: flex; /* splits screen into columns, based on divs */
    font-family: Arial, Helvetica, sans-serif
}

#links{
    min-width: 250px;

    color:black;
    
}
#linkList
{
    list-style-type: none;
    font-size: 20px;
    padding-left: 10px;
}
div{
    margin: 10px;
}
li{
    margin: 10px;
    padding: 10px;
    background-color: rgb(219, 219, 219);
    text-align: center;
}
a:link{
    color:black;
    text-decoration: none;

}


table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 12px;
}